body {
  background: azure;
}

h1 {
  text-align: center;
}

.croissant-photo {
  max-width: 300px;
  border-radius: 10px;
  margin: 30px auto;
  display: block;
}

p {
  text-align: center;
}
div {
  text-align: center;
}
footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: rgb(3, 77, 26);
  text-decoration: none;
}
